*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #e5e5f3;
    
}

section{
    display: flex;
    justify-content: center;
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    width: 200px;
    margin: 0 0 15px;

    background-color: #fff;
    border-radius: 10px;
    
}

.gradient{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    background: rgb(110,168,244);
background: linear-gradient(90deg, rgba(110,168,244,1) 0%, rgba(169,62,234,1) 49%, rgba(230,161,144,1) 100%);

    color: #fff;
}

.gradient h3{
    font-size: 15px;
    margin: 0 0 10px;
}
.gradient p{
    font-size: 10px;
}

.options{

    margin: 10px 0 20px;
    padding: 0 10px 0 15px;
    display: flex;
    flex-wrap: wrap;
    color: #394eb8;
    font-size: 10px;
    
}

.options div{
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 10px;
    margin: 0 3px 10px;
    font-weight: 700;
    background-color: #e1eaf3;
}

.all{
    cursor: pointer;
    width: 40px;
    text-align: center;
    color: #fff;
    background-color: #4962e6 !important;
}

.roadmap{
    display: flex;
    justify-content: space-between;
    height: 120px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;

    font-size: 11px;
    background-color: #fff;
   
    
    
}

.roadmap p{
    margin: 0 0 10px;
    font-size: 13px;
    font-weight: 600;
    
}

.column1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    
}

.orange{ 
    font-size: 18px;
    color:#d6a192;
}
.violet{ 
    font-size: 18px;
    color: #8d4da8;
}
.green{ 
    font-size: 18px;
    color: #68a0c0;
}

.column2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 13px;
    text-align: right;
}
.column2 a{
    margin: 0 0 10px;
    color: #4962e6;
    font-size: 11px;
    font-weight: 600;
    
}



.container1{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 20px;
    
}

.suggestions{
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    font-size: 9px;
    color: #fff;
    background-color: #373e68;
    border-radius: 5px;
}

.suggestions div{
    display: flex;
    align-items: center;
}

.suggestions h3{
    font-size: 13px;
    font-weight: 600;
}

.suggestions p{
    margin: 0 0 0 10px;
}

.buttonAdd{
    padding: 10px 15px;
    
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
    border: none;
    background-color: #ae1eec;
    color: #fff;
    border-radius: 5px;
}

.buttonAdd:hover{
    background-color: #7d1ba7;
    color: #fff;
    border-radius: 5px;
}

.sug{
    height: 130px;
    display: flex;
    justify-content: space-between;
    margin: 5px 0 5px;
    
    background-color: #fff;
    border-radius: 10px;
}

.sug h3{
    font-size: 15px;
    color: #373e68;
}

.sug p{
    margin: 7px 0 13px;
    color: rgb(66, 65, 65);
    font-size: 10px;
}

.sug a{
    font-size: 10px;
    text-decoration: none;
    color: #394eb8;
}

.number{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.coment{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.coment i{
    color:gray;
    margin: 0 4px;
}
